# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Maze.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Michal\Programming\Unity\Maze\.idea\.idea.Maze\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
